# Ignore files in repository working files

# Ignore user-specific files in PyCharm environment
# - based on experience, it is easy enough to set up a PyCharm dev environment
#   so don't hand off any PyCharm files in the repository

.idea/
venv/
*.py[cod]
__pycache__/

# VIM editor files

*.swp
*.swo
